<br>
<b class='name_header'><%= @user.full_name %></b>
<br>


      <table>
        <thead>
          <tr>
            <th width='50'>ID</th>
            <th width='150'>Event Name</th>
            <th width='150'>Event Start</th>
            <th width='150'>Purse</th>
            <th width='150'>Pick</th>
            <th width='150'>Winner</th>
            <th width='225'>Pick Dropdown</th>
            <th width='150'>Submit</th>
            <th width='150'>Destroy</th>
          </tr>
        </thead>
        <tbody>

          <% @tournaments.each do |tournament| %>
            <tr>
              <td><%= tournament.id %></td>
              <td><%= link_to(tournament.event_name, tournament_path(tournament)) %></td>
              <td><%= tournament.tournament_start_formatted %></td>
              <td><%= tournament.purse_formatted %></td>
              <td><%= tournament.pick(@user).try(:player).try(:first_name) %> <%= tournament.pick(@user).try(:player).try(:last_name) %></td>
              <td><%= tournament.winner_formatted %></td>
            <% if tournament.has_not_started_yet && current_user == @user %>
                <%= form_tag(picks_path) do %>
                  <td><%= collection_select(:pick, :player_id, @players, :id, :name, include_blank: :true) %></td>
                    <%= hidden_field_tag(:tournament_id, tournament.id) %>
                    <%= hidden_field_tag(:group_id, params[:group_id]) %>
                  <td><%= submit_tag("Submit Pick") %></td>
                <% end %>
                  <td><%= link_to "Destroy Pick", pick_path(tournament, :group_id => params[:group_id]), method: 'delete' %></td>
            <% else %>
              <td></td>
              <td></td>
              <td></td>
            <% end %>
            </tr>
          <% end %>

        </tbody>
      </table>
