<ul>
  <li>
      <b><%= player.world_rank %></b><br>
      <%= player.first_name %><br>
      <%= player.last_name %><br>
      weight: <%= player.weight %><br>
      birthday: <%= player.birthday %><br>
      turned pro: <%= player.turned_pro %><br>
      money earnings: $<%= player.earnings %><br>
      top 10's: <%= player.top_10 %><br>
      top 25's: <%= player.top_25 %><br>
      driving avg: <%= player.drive_avg %> yards<br>
      driving accuracy: <%= player.drive_acc %>%<br>
    </li>
</ul>
<br>

