<ul>
  <li>
      <%= player.first_name %><br>
      <%= player.last_name %><br>
      weight <%= player.weight %><br>
      birthday <%= player.birthday %><br>
      turned pro <%= player.turned_pro %><br>
      country <%= player.country %><br>
    </li>
</ul>
<br>

